@import "./colours";

$button-background: get-colour("grey");
$button-colour: get-colour('white');

.button {
  padding: 0.75rem 1.5rem;
  background-color: $button-background;
  font-size: 1.1rem;
  font-weight: 700;
  color: $button-colour;
  border-radius: 5px;

  &:hover {
    background-color: rgba($button-background, 0.8);
  }
}

a {
  &.button {
    display: inline-block;
    color: $button-colour;
    text-decoration: none;

    i {
      margin-right: 5px;
      font-size: 150%;
      vertical-align: middle;
    }
  }
}