@import "./responsive";
@import "./colours";

$recommendation-background: get-colour("very-light-grey");

body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  padding: 1rem;

  @include respond-to() {
    width: 80%;
    max-width: 1020px;

    .review {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
    }

    .recommendation {
      margin-bottom: 1rem;
      padding: 1rem;
      background-color: $recommendation-background;
    }

    .example {
      margin-bottom: 1rem;

      .button {
        margin-top: 1rem;
      }
    }
  }
}