@import "./colours";

$text-colour: get-colour("black");
$link-colour: get-colour("grey");

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: $text-colour;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;

  &.lowercase {
    font-weight: 600;
  text-transform: none;
  }
}

h3, h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

ul, ol, p {
  line-height: 1.75rem;
}

a {
  color: $link-colour;

  &:hover {
    text-decoration: none;
  }
}