@import "../../App.scss";

$navigation-background: get-colour("grey");
$navigation-colour: get-colour("white");

.navigation {
  padding: 1rem;
  background-color: $navigation-background;

  .navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    .navigation-item {
      display: inline-block;
      margin-right: 1rem;
  
      .navigation-link {
        display: block;
        font-size: 1.1rem;
        color: $navigation-colour;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}