@import "../../App.scss";

$tooltip-background: get-colour("white");
$tooltip-border: get-colour("black");

.tooltip-content {
  padding: 0.5rem 1rem;
  background-color: $tooltip-background;
  border: solid 1px $tooltip-border;
}